<div id="navbar" class="navbar-grid">

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand"><i class="fas fa-terminal"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="navbar-items" class="navbar-nav mr-auto">
        {% for item in sidebar %}
        {% if item|lower == pageid %}
        <li id="navbar-item-{{item.id}}" class="nav-item">
          <a href="/{{item|lower}}" class="nav-link active">
            {{item}}
          </a>
        {% else %}
        <li id="navbar-item-{{item.id}}" class="nav-item">
          <a href="/{{item|lower}}" class="nav-link">
            {{item}}
          </a>
        {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>

  </nav>

</div>
